<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= category.name %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <img src="/img/logo-SextoSol.png" alt="Logo Sexto Sol">
    </figure>    
    <h1><%= category.name %> </h1>
    <br>
    <p>NAME: <%= category.name %> </p>
    

</body>
</html>