<!DOCTYPE html>
<html>
  <head>
    <title><%= Sexto Sol %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-SextoSol.png" alt="Logo Sexto Sol">
    </figure>
    <h1><%= Sexto Sol %></h1>
    <p>Bienvenidos a <%= Sexto Sol %></p>
    <p><a href="/products">Listado de Productos</a></p>
  </body>
</html>
